[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wave = "*"
pyaudio = "*"
numpy = "*"
chippy = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.6"
